.loading {
	min-width: 100px;
	min-height: 100px;
	background: url(loading.gif) center center no-repeat;
	background-size: 100px;
	opacity: .5
}

.loading > * {
	opacity: 0 !important
}

* {
	box-sizing: border-box;
}
html,
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
body {
	background-color: #202327;
	color: #EEE;
	font: 15px sans-serif;
}
h1,
h2,
h3,
h4 {
	font-size: 11px;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: .2em;
}
figure {
	padding: 0;
	margin: 0;
}
input,
textarea {
	font-family: monospace;
}
textarea {
	min-height: 5em;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	resize: vertical;
}
a {
	color: rgb(59, 153, 252);
	text-decoration: none;
	cursor: pointer
}
a:hover {
	text-decoration: underline
}

.passthru {
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	background: none;
	color: inherit;
	font: inherit;
	padding: 0;
	border: 0;
	margin: 0;
}
.fill {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
}
.btn {
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	display: inline-block;
	background-color: #000000;
	background-color: rgba(0,0,0,.5);
	color: inherit;
	font: inherit;
	text-decoration: none;
	text-align: center;
	padding: 10px;
	border: 0;
	margin: 0;
	opacity: .75;
	cursor: pointer
}
.btn > i,
	.btn > .avatar {
}
.btn > i + *, .btn > .avatar + * {
	margin-left: 10px
}
.btn > i + *:empty, .btn > .avatar + *:empty {
	display: none
}
.btn + .btn {
	margin-left: 1px
}
.btn:hover,
	.btn.active {
	color: rgb(59, 153, 252)
}
.btn.btn-facebook {
	background-color: #3b5999;
	opacity: 1
}
.btn.btn-facebook:hover,
		.btn.btn-facebook.active {
	color: #FFF
}

.file-upload {
	position: relative;
	overflow: hidden
}

.file-upload [type=file] {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	font-size: 1000px;
	opacity: 0;
	cursor: pointer;
	z-index: 1
}

.clue {
	position: relative;
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	min-height: 300px;
	min-width: 300px;
	background-color: #51535F;
	margin: 10px;
	opacity: 1;
	-webkit-transition: all 300ms;
	transition: all 300ms
}

.clue .btn {
	font-size: 24px
}

.clue > aside {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	position: relative
}

.clue > aside > figure {
	overflow: auto;
	-webkit-overflow-scrolling: touch
}

.clue > aside > figure img {
	width: 100%;
	max-width: 500px;
	vertical-align: middle
}

.clue > aside > *:not(figure) {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: -1px;
	background-color: #51535F;
	-webkit-transition: -webkit-transform 300ms;
	transition: -webkit-transform 300ms;
	transition: transform 300ms;
	transition: transform 300ms, -webkit-transform 300ms;
	-webkit-transform: scale(0, 0);
	        transform: scale(0, 0);
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	overflow: auto;
	-webkit-overflow-scrolling: touch
}

.clue > aside > *:not(figure).information {
	-webkit-transform-origin: 80% top;
	        transform-origin: 80% top
}

.clue > aside > *:not(figure).information .fieldset {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1
}

.clue > aside > *:not(figure).conversation {
	-webkit-transform-origin: 20% bottom;
	        transform-origin: 20% bottom
}

.clue > aside > *:not(figure).resolution {
	-webkit-transform-origin: 80% bottom;
	        transform-origin: 80% bottom;
	text-align: center
}

.clue > aside > *:not(figure).resolution > * {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	overflow: auto
}

.clue > aside > *:not(figure).resolution > * div {
	white-space: pre-wrap
}

.clue > aside > *:not(figure).resolution > div {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	padding: 10px
}

.clue > aside > *:not(figure).resolution > div h3 {
	margin: 0 auto 20px
}

.clue > aside > *:not(figure).resolution > div div {
	font-size: 24px
}

.clue > aside > *:not(figure).resolution > footer {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	max-height: 50%;
	background-color: #FFF;
	color: #000;
	padding: 32px 10px
}

.clue > aside > *:not(figure).resolution > footer div {
	font-size: 32px;
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="10" /></filter></svg>#filter');
	-webkit-filter: blur(10px);
	        filter: blur(10px);
	-webkit-transition: -webkit-filter 300ms;
	transition: -webkit-filter 300ms;
	transition: filter 300ms;
	transition: filter 300ms, -webkit-filter 300ms
}

.clue > aside > *:not(figure).resolution > footer.hover {
}

.clue > aside > *:not(figure).resolution > footer.hover div {
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feGaussianBlur stdDeviation="0" /></filter></svg>#filter');
	-webkit-filter: blur(0);
	        filter: blur(0)
}

.clue header,
	.clue footer {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-shrink: 0;
	    -ms-flex-negative: 0;
	        flex-shrink: 0
}

.clue header .btn, .clue footer .btn {
	min-width: 48px;
	min-height: 48px;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1
}

.clue > header {
	margin-bottom: 1px
}

.clue > footer {
	margin-top: 1px
}

.clue.new {
	overflow: hidden
}

.clue.new > div {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	text-align: center;
	border: dashed 3px #202327;
	margin: 3px
}

.clue.new:not(:hover) {
	opacity: .5
}

.clue.editing {
}

.clue.editing .information {
	-webkit-transform: scale(1, 1);
	        transform: scale(1, 1)
}

.clue.conversing {
}

.clue.conversing .conversation {
	-webkit-transform: scale(1, 1);
	        transform: scale(1, 1)
}

.clue.resolving {
}

.clue.resolving .resolution {
	-webkit-transform: scale(1, 1);
	        transform: scale(1, 1)
}

@media (max-width: 800px) {

	.clue {
		min-width: 100%;
		margin: 0
	}

	.clue .resolution {
}

	.clue .resolution footer {
		-webkit-user-select: none;
		   -moz-user-select: none;
		    -ms-user-select: none;
		        user-select: none
	}

	.clue:not(.active) {
		display: none
	}
	}

.avatar {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	border-radius: 50%;
	vertical-align: middle;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
.messenger {
}
.messenger > div {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	-webkit-flex-shrink: 1;
	    -ms-flex-negative: 1;
	        flex-shrink: 1;
	padding: 10px;
	overflow: auto;
	-webkit-overflow-scrolling: touch
}
.messenger > footer {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-shrink: 0;
	    -ms-flex-negative: 0;
	        flex-shrink: 0
}
.messenger > footer > div {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	background-color: #000000;
	background-color: rgba(0,0,0,.5)
}
.messenger > footer > div textarea {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	border: 0;
	border-radius: 5px;
	margin: 3px
}
.messenger > footer .btn {
	position: relative;
	-webkit-box-flex: 0;
	-webkit-flex-grow: 0;
	    -ms-flex-positive: 0;
	        flex-grow: 0;
	overflow: hidden
}
.messages {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	-webkit-flex-shrink: 0;
	    -ms-flex-negative: 0;
	        flex-shrink: 0;
	padding: 0;
	margin: 0
}
.messages .message {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-webkit-align-items: flex-start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	margin: 2px 0
}
.messages .message header {
	-webkit-align-self: center;
	    -ms-flex-item-align: center;
	        align-self: center;
	color: #EEE;
	opacity: .666;
	font-size: 12px;
	margin: 3px
}
.messages .message header,
		.messages .message footer {
	font-size: 12px;
	margin: 3px
}
.messages .message header button, .messages .message footer button {
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	background: none;
	color: #EEE;
	font: inherit;
	padding: 0;
	margin: 0 3px;
	border: 0;
	cursor: pointer
}
.messages .message header button:hover, .messages .message footer button:hover {
	color: rgb(59, 153, 252)
}
.messages .message footer {
	-webkit-align-self: flex-end;
	    -ms-flex-item-align: end;
	        align-self: flex-end;
	margin-left: 36px;
	margin-right: 36px
}
.messages .message .avatar {
	-webkit-align-self: flex-start;
	    -ms-flex-item-align: start;
	        align-self: flex-start;
	-webkit-flex-shrink: 0;
	    -ms-flex-negative: 0;
	        flex-shrink: 0;
	margin-right: 10px
}
.messages .message .content {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	max-width: 100%
}
.messages .message .content > div {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	min-width: 0;
	max-width: 100%;
	position: relative;
	background-color: #EEE;
	color: #202327;
	text-align: left;
	padding: 3px 5px;
	border-radius: 5px
}
.messages .message .content > div * {
	overflow: hidden;
	white-space: pre-wrap;
	text-overflow: ellipsis
}
.messages .message .content > div img {
	max-width: 100%;
	max-height: 200px
}
.messages .message .content > div p {
	margin: 0
}
.messages .message .content > div .attachment {
	-webkit-align-self: flex-start;
	    -ms-flex-item-align: start;
	        align-self: flex-start;
	display: inline-block;
	margin-bottom: 3px
}
.messages .message .content > div.editing {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1
}
.messages .message .content > div:before {
	content: "";
	position: absolute;
	top: 7px;
	right: 100%;
	width: 0;
	height: 0;
	border: solid 6px transparent;
	border-right-color: #EEE
}
.messages .message .extra {
	-webkit-align-self: center;
	    -ms-flex-item-align: center;
	        align-self: center;
	-webkit-flex-shrink: 0;
	    -ms-flex-negative: 0;
	        flex-shrink: 0;
	padding: 0 5px
}
.messages .message .extra button {
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	background: none;
	color: #EEE;
	font: inherit;
	padding: 0;
	margin: 0 3px;
	border: 0;
	opacity: .5;
	cursor: pointer
}
.messages .message .extra button:hover {
	opacity: 1
}
.messages .message .extra button.active {
	color: rgb(59, 153, 252);
	opacity: 1
}
.messages .message.mine {
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	    -ms-flex-align: end;
	            -ms-grid-row-align: flex-end;
	        align-items: flex-end
}
.messages .message.mine .avatar {
	-webkit-align-self: flex-end;
	    -ms-flex-item-align: end;
	        align-self: flex-end;
	margin-right: 0;
	margin-left: 10px
}
.messages .message.mine .content {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: reverse;
	-webkit-flex-direction: row-reverse;
	    -ms-flex-direction: row-reverse;
	        flex-direction: row-reverse;
	-webkit-box-align: end;
	-webkit-align-items: flex-end;
	    -ms-flex-align: end;
	            -ms-grid-row-align: flex-end;
	        align-items: flex-end
}
.messages .message.mine .content a {
	color: #EEE
}
.messages .message.mine .content > div {
	background-color: rgb(59, 153, 252)
}
.messages .message.mine .content > div:before {
	right: auto;
	top: auto;
	bottom: 7px;
	left: 100%;
	border-right-color: transparent;
	border-left-color: rgb(59, 153, 252)
}
.messages .message.continued:not(.active) {
}
.messages .message.continued:not(.active) .avatar,
			.messages .message.continued:not(.active) .content > div:before {
	visibility: hidden
}
.messages .message:not(.active) {
}
.messages .message:not(.active) header,
			.messages .message:not(.active) footer {
	display: none
}
.messages .message.empty {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	            -ms-grid-row-align: center;
	        align-items: center;
	opacity: .666
}
.reactions {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding: 0;
	margin: 0
}
.reactions .reaction {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center
}


#app {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 100%;
	height: 100%;
}
#header {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	-webkit-flex-shrink: 0;
	    -ms-flex-negative: 0;
	        flex-shrink: 0;
	min-height: 44px;
	background-color: #51535F;
	text-align: center;
	margin-bottom: 1px
}
#header > header,
	#header > label {
	padding: 0 10px
}
#header > label {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	text-align: right
}
@media (max-width: 800px) {

	#header {
}

	#header > header {
		width: 100%
	}

	#header > label {
		text-align: left
	}
	}
#body {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
}
#hunt {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: nowrap;
	    -ms-flex-wrap: nowrap;
	        flex-wrap: nowrap;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1
}
@media (max-width: 800px) {

	#hunt {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
		max-width: 100%
	}
	}
#main {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	padding: 10px;
	overflow: auto
}
@media (max-width: 800px) {

	#main {
		-webkit-box-pack: start;
		-webkit-justify-content: flex-start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
		-webkit-flex-wrap: nowrap;
		    -ms-flex-wrap: nowrap;
		        flex-wrap: nowrap;
		padding: 0;
		overflow: hidden
	}
	}
#nav {
	display: none;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	            -ms-grid-row-align: center;
	        align-items: center;
	-webkit-flex-shrink: 0;
	    -ms-flex-negative: 0;
	        flex-shrink: 0;
	-webkit-box-ordinal-group: 4;
	-webkit-order: 3;
	    -ms-flex-order: 3;
	        order: 3;
	margin-top: 1px
}
#nav a {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-flex-shrink: 0;
	    -ms-flex-negative: 0;
	        flex-shrink: 0;
	min-width: 48px;
	min-height: 48px;
	color: inherit;
	text-decoration: none
}
#nav a.active {
	background-color: rgb(59, 153, 252)
}
#nav > div {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: nowrap;
	    -ms-flex-wrap: nowrap;
	        flex-wrap: nowrap;
	-webkit-flex-shrink: 1;
	    -ms-flex-negative: 1;
	        flex-shrink: 1;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	border: solid 1px #51535F;
	border-width: 0 1px;
	overflow: auto;
	-webkit-overflow-scrolling: touch
}
#nav > div a {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	border-right: solid 1px rgba(255,255,255,.08)
}
@media (max-width: 800px) {

	#nav {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex
	}
	}
#sidebar {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-flex-basis: 33%;
	    -ms-flex-preferred-size: 33%;
	        flex-basis: 33%;
	min-width: 300px;
	max-width: 480px
}
#sidebar > section {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	-webkit-flex-shrink: 1;
	    -ms-flex-negative: 1;
	        flex-shrink: 1;
	background-color: #51535F;
	overflow: auto;
	margin-bottom: 1px
	/*		&.huntList {
			display: flex;
			flex-direction: column;

			& > ul {
				display: flex;
				flex-direction: column;
				padding: 0;
				margin: 0;

				& > * {
					display: flex;
					flex-direction: column;
					flex-shrink: 0;
					margin-top: 1px;

					& > header {
						display: flex;
						flex-wrap: nowrap;

						& a,
						& span,
						& input {
							flex-shrink: 1;
							flex-grow: 1;
						}
					}
				}
			}
		}*/
}
#sidebar > section > header {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	        align-items: center;
	border-bottom: solid 1px rgb(71, 71, 71)
}
#sidebar > section > header h2,
			#sidebar > section > header h3 {
	margin: 10px
}
#sidebar > section > header > *:first-child {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1
}
#sidebar > section .messenger {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1
}
#sidebar > section .messenger .messages {
	-webkit-box-pack: end;
	-webkit-justify-content: flex-end;
	    -ms-flex-pack: end;
	        justify-content: flex-end
}
#sidebar > section .users {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	-webkit-flex-shrink: 0;
	    -ms-flex-negative: 0;
	        flex-shrink: 0;
	padding: 10px;
	margin: 0
}
#sidebar > section .users > li {
	padding: 3px 0
}
#sidebar > section .users > li > header {
	-webkit-box-align: center;
	-webkit-align-items: center;
	    -ms-flex-align: center;
	            -ms-grid-row-align: center;
	        align-items: center
}
#sidebar > section .users > li > header .avatar {
	margin-right: 10px
}
@media (max-width: 800px) {

	#sidebar {
		-webkit-flex-basis: auto;
		    -ms-flex-preferred-size: auto;
		        flex-basis: auto;
		-webkit-flex-shrink: 0;
		    -ms-flex-negative: 0;
		        flex-shrink: 0;
		-webkit-box-ordinal-group: 3;
		-webkit-order: 2;
		    -ms-flex-order: 2;
		        order: 2;
		max-width: none
	}

	#sidebar > section {
}

	#sidebar > section.huntDetail {
}

	#sidebar > section.huntDetail > header {
}

	#sidebar > section.huntDetail > header .btn {
		display: none
	}

	#sidebar > section:not(.active) {
		display: none
	}

	#sidebar.active {
		-webkit-box-flex: 1;
		-webkit-flex-grow: 1;
		    -ms-flex-positive: 1;
		        flex-grow: 1
	}

	#sidebar.active + #main {
		max-height: 0
	}
	}